/////////////////////////////////////////////////////////////
// Mixins

@mixin dialog() {
    background-color: $primary-faded;
    padding: 1em;
    border-radius: $radius;
    position: relative;

    flex: 0 1 60%;
    margin: 0 auto;
    z-index: $dialog-z;
    display: none; // won't display on page load
    opacity: 0;
    transition: margin .4s ease-in-out, opacity .4s ease-in-out;

    &.dialog-sm {
        flex-basis: 35%;
    }

    @media screen and (max-width: $sm-max) {
        min-width: 75%;
    }

    @media screen and (max-width: $xs-max) {
        min-width: 95%;
    }

    &.in {
        opacity: 1;
        margin: 5em auto 0 auto;
    }

    .dismiss {
        &:hover:after {
            cursor: pointer;
            font-weight: $font-weight-semi-bold;
        }

        // add default cross icon to dismiss dialog window
        &:after {
            content: $icon-cross;
            font-family: $font-family-icon;
            font-size: .85em;
            font-weight: 400;
            position: absolute;
            top: .5em;
            right: .5em;
        }
    }

    .dialog-header {
        font-weight: $font-weight-semi-bold;
        position: relative;
        text-align: center;
        padding-bottom: 1em;
        border-bottom: 1px solid transparentize($primary-dark, .9);
    }

    .dialog-body {
        padding: 1em;
    }

    .dialog-footer {
        padding-top: 1em;
        border-top: 1px solid transparentize($primary-dark, .9);
    }

    // button icon optical adjustment
    [class*="btn-"] [class*="icon-"]{
        vertical-align: -6%;
    }
}

@mixin dialog-variant($color, $icon) {
    color: darken($color, 20%);

    .dialog-header {
        &:before {
            content: $icon;
            font-family: $font-family-icon;
            font-weight: $font-weight-normal;
            font-size: 1.7em;
            line-height: .5;
            vertical-align: -40%; // compensate bigger font-size
            margin-right: .35em;
        }
    }
}

/////////////////////////////////////////////////////////////
// Classes

.dialog-default {
    @include dialog;
}

.dialog-success {
    @include dialog;
    @include dialog-variant($success, $icon-success);
}

.dialog-info {
    @include dialog;
    @include dialog-variant($info, $icon-info);
}

.dialog-warning {
    @include dialog;
    @include dialog-variant($warning, $icon-warning);
}

.dialog-error {
    @include dialog;
    @include dialog-variant($error, $icon-alert);
}

.backdrop {
    display: flex;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: $backdrop-z;
    background-color: black;
    opacity: 0;
    transition: opacity .2s ease-in-out .2s;

    &.in {
        opacity: .8;
        transition: opacity .2s ease-in-out;
    }
}

.dialog-container {
    display: flex;
    align-items: flex-start; // the dialog window doesn't stretch on whole screen height
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: $dialog-z;
}