.filter {
    display: flex;

    &.disabled {
        .filter-label {
            background-color: $grey-faded;
            color: $primary-faded;
            border-radius: $radius;
            transition: background-color .1s ease-in-out;
        }

        .filter-list, .filter-clear {
            visibility: hidden;
        }
    }

    .filter-list {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        border: 2px solid $primary-dark;
        min-width: 2em;
        min-height: 3em;

        .filter-item {
            background-color: $secondary-dark;
            color: #fff;
            padding: .25em .75em;
            margin: .25em;
            border-radius: $radius;
            cursor: pointer;
            user-select: none;

            &:hover:after {
                font-weight: $font-weight-bold;
                color: $secondary-light;
            }

            &:after {
                font-family: $font-family-icon;
                content: $icon-cross;
                color: $secondary-faded;
                padding: 0 .5em 0 1.5em;
                font-size: .75em;
            }
        }
    }

    .filter-label, .filter-clear {
        display: flex;
        justify-content: center;
        flex-direction: column;

        background-color: $primary-dark;
        color: #fff;
        padding: .5em 1em;
        user-select: none;
    }

    .filter-label {
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
    }

    .filter-clear {
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
        cursor: pointer;

        &:hover:after {
            font-weight: $font-weight-bold;
            color: $secondary-light;
        }

        &:after {
            font-family: $font-family-icon;
            content: $icon-cross;
        }
    }
}

.tag {
    .tag-list {
        display: flex;
        flex-wrap: wrap;

        .tag-item {
            background-color: $secondary-dark;
            color: #fff;
            padding: .25em .75em;
            margin: .25em;
            border-radius: $radius;
            cursor: pointer;
            user-select: none;

            &:hover:before {
                font-weight: $font-weight-bold;
                color: $secondary-light;
            }

            &:before {
                font-family: $font-family-icon;
                content: $icon-tag;
                vertical-align: -10%;
                padding-right: .75em;
            }
        }
    }
}