$break-points:
    ("xxs", $xxs-min),
    ("xs", $xs-min),
    ("sm", $sm-min),
    ("md", $md-min),
    ("lg", $lg-min),
    ("xl", $xl-min),
    ("xxl", $xxl-min);

.row {
    display: flex;
    flex-wrap: wrap;

    // default behaviour
    & > * {
        flex: 1 0 100%;
    }

    @each $bp, $min-width in $break-points {
        @for $i from 1 through 12 {
            @media screen and (min-width: $min-width) {
                .col-#{$bp}-#{$i} {
                    flex: $i 0 percentage($i/12);
                }
            }
        }
    }
}