$break-points: ("xxs", $xxs-min), ("xs", $xs-min), ("sm", $sm-min), ("md", $md-min), ("lg", $lg-min), ("xl", $xl-min), ("xxl", $xxl-min);

.row {
    display: flex;
    flex-wrap: wrap;

    // default behaviour
    & > * {
        flex: 1 1 100%;
        margin-left: .5em;
    }

    @each $bp, $min-width in $break-points {
        @for $i from 1 through 12 {
            @media screen and (min-width: $min-width) {
                @if $i == 12 {
                    .col-#{$bp}-#{$i} {
                        //flex: 1 0 0;
                        width: $min-width;
                    }
                }

                @else {
                    .col-#{$bp}-#{$i} {
                        flex: $i $i 0;
                    }
                }
            }
        }
    }
}