body {
    font-family: $font-family-primary;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $primary-dark;
    background-color: $bg;
}

a {
    color: $secondary;
    text-decoration: none;

    &:hover {
        color: $secondary-dark;
        text-decoration: underline;
    }
}