body {
    font-family: $font-family-primary;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $font-color-base;
    background-color: $bg;
}

// Typography
h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.5;
    margin-bottom: .75em;
}

h2 {
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: .6em;
}

h3 {
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: .4em;
}

p {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: .1em;
}

a {
    color: $secondary;
    text-decoration: none;

    &:hover {
        color: $secondary-dark;
        text-decoration: underline;
    }
}

li {
    list-style: none;
}

textarea {
    width: 100%;
    height: 6em;
    border: 1px solid $input-border;
    border-radius: $radius;
    padding: .5em;
    color: $font-color-base;

    &:focus {
        $color-rgba: rgba(red($font-color-base), green($font-color-base), blue($font-color-base), .6); // box shadow custom color
        $color-dark: darken($font-color-base, 15%);

        border-color: $color-dark;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),
                    0 0 $input-focus-spread $color-rgba;
    }
}

// Icons
.icon-alert:before { content: $icon-alert; }
.icon-arrow-down:before { content: $icon-arrow-down; }
.icon-calendar:before { content: $icon-calendar; }
.icon-checkbox:before { content: $icon-checkbox; }
.icon-checkbox-checked:before { content: $icon-checkbox-checked; }
.icon-chevron-left:before { content: $icon-chevron-left; }
.icon-chevron-right:before { content: $icon-chevron-right; }
.icon-cross:before { content: $icon-cross; }
.icon-heart:before { content: $icon-heart; }
.icon-heart-o:before { content: $icon-heart-o; }
.icon-info:before { content: $icon-info; }
.icon-not-allowed:before { content: $icon-not-allowed; }
.icon-radio:before { content: $icon-radio; }
.icon-radio-checked:before { content: $icon-radio-checked; }
.icon-sheriff:before { content: $icon-sheriff; }
.icon-star:before { content: $icon-star; }
.icon-star-o:before { content: $icon-star-o; }
.icon-success:before { content: $icon-success; }
.icon-thumb:before { content: $icon-thumb; }
.icon-user:before { content: $icon-user; }
.icon-warning:before { content: $icon-warning; }
.icon-zoom:before { content: $icon-zoom; }