body {
    font-family: $font-family-primary;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $font-color-base;
    background-color: $bg;
}

a {
    color: $secondary;
    text-decoration: none;

    &:hover {
        color: $secondary-dark;
        text-decoration: underline;
    }
}

textarea {
    width: 100%;
    height: 6em;
    border: 1px solid $primary;
    border-radius: $radius;
}