/////////////////////////////////////////////////////////////
// Mixins

@mixin pagination-icon($icon) {
    background-image: url('#{$icon-path}#{$icon}.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.4em;

    &.disabled:after { color: $grey; }
    &:active, &:focus &.active { &:after { color: #fff; } }
}

/////////////////////////////////////////////////////////////
// Classes

.pagination {
    user-select: none;

    li {
        display: inline-block;
        background-color: $primary-faded;
        border: 2px solid #fff;
        padding: .7em .13em;
        border-radius: $radius * 3;
        text-align: center;
        font-size: .9em;
        margin: 3px;

        @media screen and (min-width: $sm-min) {
            padding: .7em .3em;
        }

        a {
            padding: $padding-base-vertical $padding-base-horizontal;
            text-decoration: none;
            color: $primary;
        }

        &:hover, &:focus, &:focus:hover {
            background-color: $grey;
            a { color: $primary; }
        }

        &:active, &.active {
            background-color: $secondary;
            border: 1px solid $secondary-dark;
            padding: .7em calc(.13em + 1px); // keep layout from moving on click

            @media screen and (min-width: $sm-min) {
                padding: .7em calc(.3em + 1px); // keep layout from moving on click
            }

            a {
                color: #fff;
                font-weight: bold;
            }
        }

        &.active { pointer-events: none; }

        &.hidden { display: none; }

        &.disabled {
            pointer-events: none;
            background-color: $grey-faded;
            border: 2px solid $grey-light;
            a { color: $grey; }
        }

        &.ellipsis {
            background-color: inherit;
            border: 0;
            padding: 0;
            margin: 0;
            pointer-events: none;
            font-weight: bold;
        }

        &.prev { @include pagination-icon("chevron-left") }
        &.next { @include pagination-icon("chevron-right") }
    }
}