// Used to style examples

.content {
    padding: 32px;
}

.group {
    margin-top: 16px;
    margin-bottom: 32px;
}

.colors {
    [class*="-color"] {
        .color {
            display: inline-block;
            width: 75px;
            height: 75px;
            border-radius: $radius;

            &.grey-faded {background-color: $grey-faded;}
            &.grey-light {background-color: $grey-light;}
            &.grey {background-color: $grey;}
            &.grey-dark {background-color: $grey-dark;}

            &.primary-faded {background-color: $primary-faded;}
            &.primary-light {background-color: $primary-light;}
            &.primary {background-color: $primary;}
            &.primary-dark {background-color: $primary-dark;}

            &.secondary-faded {background-color: $secondary-faded;}
            &.secondary-light {background-color: $secondary-light;}
            &.secondary {background-color: $secondary;}
            &.secondary-dark {background-color: $secondary-dark;}
        }
    }
}

.buttons {
    button {
        margin-bottom: 4px;
    }

    .normal-states {
        margin-bottom: 8px;
    }
}

.input {
    h3 {
        margin-top: 16px;
    }

    .states-input-test {
        .states-input-buttons {
            margin-top: 20px;

            .btn-primary {
                float: right;
            }
        }
    }
}

.check-buttons {
    display: flex;
    @media screen and (max-width: 900px) { display: inherit; }

    [class*="check-"]:not(:first-of-type) {
        margin-left: 6em;
        @media screen and (max-width: 900px) { margin-left: 0; }
    }
}

.icons {
    .icon-fonts { font-size: 1.65em; }
    .icon-images { img { width: 2.25em; } }
}

.notifications-block {
    [class*="demo-"] { margin-bottom: .5em; }
    .demo-success { @extend .notification-success };
    .demo-info { @extend .notification-info };
    .demo-warning { @extend .notification-warning };
    .demo-error { @extend .notification-error };
}

.block {
    display: flex;
    flex-direction: column;

    [class*="btn-"] { margin-left: auto; }
    .special-notifications { margin-top: 6px; margin-left: auto;}
}

.tabs {
    width: 50%;
}

.inset {
    padding-left: 1.5em;
}

.backdrop-test {
    background-color: #444444;
    padding: 2.5em;
    display: flex;
}

.dialog-test-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    [class*="btn-"] {
        margin-left: .5em;
        flex: 0 0 auto;
    }
}

.dialog-test {
    @include dialog;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    //max-width: 6em;
    opacity: 1;
    z-index: 0;

        //@media screen and (max-width: 1370px) {
        //    [class*="btn-"] {
        //        display: block;
        //        width: 500px;
        //
        //        //&:first-of-type {
        //        //    margin-bottom: .5em;
        //        //}
        //    }
        //}
}

//.dialog-test, .dialog-default, .dialog-success, .dialog-info, .dialog-warning, .dialog-error {
//    flex: 0 1 45%;
//
//    .dialog-footer {
//        @media screen and (max-width: 1200px) {
//            flex-direction: column;
//
//            [class*="btn-"] {
//                margin-left: 0;
//                flex: 0 0 auto;
//
//                &:first-of-type {
//                    margin-bottom: .5em;
//                }
//            }
//        }
//    }
//}