// Used to style examples

.content {
    padding: 32px;
}

.group {
    margin-top: 16px;
    margin-bottom: 32px;
}

.colors {
    display: flex;

    [class*="-color"] {
        margin-right: .75em;

        .color {
            display: inline-block;
            width: 75px;
            height: 75px;
            border-radius: $radius;

            &.grey-faded {background-color: $grey-faded;}
            &.grey-light {background-color: $grey-light;}
            &.grey {background-color: $grey;}
            &.grey-dark {background-color: $grey-dark;}

            &.primary-faded {background-color: $primary-faded;}
            &.primary-light {background-color: $primary-light;}
            &.primary {background-color: $primary;}
            &.primary-dark {background-color: $primary-dark;}

            &.secondary-faded {background-color: $secondary-faded;}
            &.secondary-light {background-color: $secondary-light;}
            &.secondary {background-color: $secondary;}
            &.secondary-dark {background-color: $secondary-dark;}
        }
    }
}

.buttons {
    .normal-states, .disabled-states {
        display: flex;
        flex-wrap: wrap;

        & > * {
            flex: 1 1 auto;
            max-width: 15%;
            min-width: 10em;
            margin-right: .5em;
            margin-bottom: .5em;
        }
    }
}

.input {
    h3 {
        margin-top: 16px;
    }

    .states-input-buttons {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        & > * {
            flex: 1 0 auto;
            max-width: 20%;
            min-width: 12em;
            margin-right: .5em;
            margin-bottom: .5em;
        }
    }
}

.dropdown .dropdown-trigger {
    min-width: 220px;
}

.check-buttons {
    display: flex;
    @media screen and (max-width: 900px) { display: inherit; }

    [class*="check-"]:not(:first-of-type) {
        margin-left: 6em;
        @media screen and (max-width: 900px) { margin-left: 0; }
    }
}

.icons {
    .icon-fonts { font-size: 1.65em; }
    .icon-images { img { width: 2.25em; } }
}

.notifications-block {
    [class*="demo-"] { margin-bottom: .5em; }
    .demo-success { @extend .notification-success };
    .demo-info { @extend .notification-info };
    .demo-warning { @extend .notification-warning };
    .demo-error { @extend .notification-error };
}

.notifications-test-buttons, .dialog-test-buttons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    & > * {
        flex: 1 0 auto;
        max-width: 20%;
        min-width: 15em;
        margin: .25em .5em .25em 0;
    }
}

.tabs {
    width: 50%;
}

.inset {
    padding-left: 1.5em;
}

.typography {
    display: flex;
    flex-direction: column;
}

.filter {
    margin-bottom: 1.5em;
}
