/////////////////////////////////////////////////////////////
// Colors

// base
$grey: #aeaeae;
$primary: #274e75;
$secondary: #1abc9c;
$info: #3498db;
$success: #1abc5b;
$warning: #f0ad4e;
$danger: #e74c3c;
$error: $danger;
$alert: $danger;
$bg: #f0f0f0;

// variants
$grey-light: lighten($grey, 12%);
$grey-faded: lighten($grey-light, 8%);
$grey-dark: darken($grey, 35%);

$primary-light: lighten($primary, 20%);
$primary-faded: mix($primary, lighten($grey-light, 8%), 10%);
$primary-dark: darken($primary, 10%);

$secondary-light: lighten($secondary, 20%);
$secondary-faded: mix($secondary, lighten($grey-light, 8%), 10%);
$secondary-dark: darken($secondary, 10%);

/////////////////////////////////////////////////////////////
// Fonts & Text

$font-path: "../fonts/";
$font-family-primary: 'Open Sans', Helvetica, Arial, sans-serif !default;
$font-family-icon: 'icomoon' !default;
$font-size-root: 16px !default;
$font-size-base: 1rem !default;
$font-color-base: mix($primary-dark, $grey, 78%);
$line-height-base: 1.5 !default;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// icons content
$icon-alert: "\e900";
$icon-arrow-down: "\e901";
$icon-calendar: "\e902";
$icon-checkbox: "\e903";
$icon-checkbox-checked: "\e904";
$icon-chevron-left: "\e905";
$icon-chevron-right: "\e906";
$icon-cross: "\e907";
$icon-heart: "\e908";
$icon-heart-o: "\e909";
$icon-info: "\e90a";
$icon-not-allowed: "\e90b";
$icon-radio: "\e90c";
$icon-radio-checked: "\e90d";
$icon-sheriff: "\e90e";
$icon-star: "\e90f";
$icon-star-o: "\e910";
$icon-success: "\e911";
$icon-warning: "\e912";
$icon-zoom: "\e913";

/////////////////////////////////////////////////////////////
// Buttons

// padding
$btn-padding-horizontal: 2.25em;
$btn-padding-vertical: .4em;
$btn-font-weight: $font-weight-semi-bold;

/////////////////////////////////////////////////////////////
// Measures

$radius: 3px;
$padding-base-horizontal: .75em;
$padding-base-vertical: .5em;

/////////////////////////////////////////////////////////////
// Forms

// inputs
$input-bg-disabled: lighten($grey-light, 2%);
$input-border-disabled: $grey;
$input-color-disabled: $grey-dark;

$input-bg: #fff;
$input-border: $primary-light;
$input-color: $font-color-base;

$input-border-size: 1px;
$input-focus-spread: 3px;
$input-color-placeholder: $primary-dark;

$input-font-size: 1em;
$input-feedback-padding: 2em;