@import "variables";
@import "normalize";
@import "global";
@import "fonts";
@import "buttons";

@import "styleguide";


h1 {
    background: pink;
    border: 1px solid black;
}


h2 {
    background: yellow;
    border: 1px solid black;}

h3 {
    background: blue;
    border: 1px solid black;}


p {
    background: green;
    border: 1px solid black;}

ol, li, ul {
    border: 1px solid black;}


[type="search"] {
    margin: 50px 0;
}